LoginRegClient/App_WebReferences/SelectService/ShowTrackerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27037/ShowTrackerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" nillable="true" type="tns:Artist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtist" nillable="true" type="tns:ArrayOfArtist" />
  <xs:complexType name="Artist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArtistEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistKey" type="xs:int" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fans" nillable="true" type="tns:ArrayOfFan" />
      <xs:element minOccurs="0" name="ShowDetails" nillable="true" type="tns:ArrayOfShowDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:complexType name="ArrayOfFan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fan" nillable="true" type="tns:Fan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFan" nillable="true" type="tns:ArrayOfFan" />
  <xs:complexType name="Fan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:ArrayOfArtist" />
      <xs:element minOccurs="0" name="FanDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLogins" nillable="true" type="tns:ArrayOfFanLogin" />
      <xs:element minOccurs="0" name="FanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fan" nillable="true" type="tns:Fan" />
  <xs:complexType name="ArrayOfFanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FanLogin" nillable="true" type="tns:FanLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFanLogin" nillable="true" type="tns:ArrayOfFanLogin" />
  <xs:complexType name="FanLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fan" nillable="true" type="tns:Fan" />
      <xs:element minOccurs="0" name="FanKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanLoginHashed" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FanLoginKey" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLoginRandom" type="xs:int" />
      <xs:element minOccurs="0" name="FanLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLogin" nillable="true" type="tns:FanLogin" />
  <xs:complexType name="ArrayOfShowDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowDetail" nillable="true" type="tns:ShowDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowDetail" nillable="true" type="tns:ArrayOfShowDetail" />
  <xs:complexType name="ShowDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="tns:Artist" />
      <xs:element minOccurs="0" name="ArtistKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Show" nillable="true" type="tns:Show" />
      <xs:element minOccurs="0" name="ShowDetailAdditional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDetailArtistStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ShowDetailKey" type="xs:int" />
      <xs:element minOccurs="0" name="ShowKey" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowDetail" nillable="true" type="tns:ShowDetail" />
  <xs:complexType name="Show">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowDetails" nillable="true" type="tns:ArrayOfShowDetail" />
      <xs:element minOccurs="0" name="ShowKey" type="xs:int" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTicketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Venue" nillable="true" type="tns:Venue" />
      <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Show" nillable="true" type="tns:Show" />
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Shows" nillable="true" type="tns:ArrayOfShow" />
      <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueAgeRestriction" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VenueCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueKey" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLogins" nillable="true" type="tns:ArrayOfVenueLogin" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenuePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="ArrayOfShow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Show" nillable="true" type="tns:Show" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShow" nillable="true" type="tns:ArrayOfShow" />
  <xs:complexType name="ArrayOfVenueLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VenueLogin" nillable="true" type="tns:VenueLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenueLogin" nillable="true" type="tns:ArrayOfVenueLogin" />
  <xs:complexType name="VenueLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Venue" nillable="true" type="tns:Venue" />
      <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueLoginHashed" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="VenueLoginKey" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueLoginRandom" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueLogin" nillable="true" type="tns:VenueLogin" />
  <xs:complexType name="ArrayOfShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfo" nillable="true" type="tns:ShowInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfo" nillable="true" type="tns:ArrayOfShowInfo" />
  <xs:complexType name="ShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfo" nillable="true" type="tns:ShowInfo" />
</xs:schema>